/* Готовые стили всегда выше всех. */

:focus {
    outline: none;
    box-shadow: -1px -1px 22px 0 rgba(214, 104, 255, 1);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: 0 auto;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.paragraph,
.figure {
    margin: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    border: 0 !important;
}

/* Все mobile стили. Вход ниже 768px */
.benefits {
    padding: 15px;
    background-color: #445162;
}

.benefits .list-title {
    margin-bottom: 51px;
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.benefits .list-item {
    display: flex;
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.benefits .list-item::before {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin: 5px;
    content: '';
    background-image: url(../img/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.benefits .list-item:last-child {
    margin-bottom: 30px;
}

.benefits-photo {
    width: 100%;
    height: auto;
    box-shadow: 31px 15px 69px 0 rgba(0, 0, 0, 0.75);
}

.preview {
    padding: 15px;
    background-color: #fff;
}

.preview-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.5;
    color: #445161;
}

.preview-text {
    max-width: 649px;
    margin: 0 auto 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.preview .inner {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    box-shadow: 56px 33px 14px -1px rgba(0, 0, 0, 0.14);
}

.preview-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dignity {
    padding: 15px;
    background-color: #f0f0f0;
}

.dignity-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
}

.dignity-list {
    display: block;
}

.dignity .list-item {
    max-width: 536px;
    margin: 0 auto 35px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.dignity .list-item::before {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
    content: '+';
    background-color: #445161;
}

.dignity .list-item:last-child {
    margin: 0 auto;
}

.screenshots {
    padding: 15px;
    background-color: #fff;
}

.screenshots-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
}

.screenshots-photo {
    width: 65%;
    height: auto;
    object-fit: cover;
}

.screenshots-text {
    margin: 15px 0 50px;
}

.screenshots-photo-title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.25;
    color: #445161;
}

.screenshots-photo-desc {
    max-width: 359px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.comments {
    padding: 15px;
    background-color: #f0f0f0;
}

.comments-item {
    margin-bottom: 30px;
}

.comments-item:last-child {
    margin: 0;
}

.comments-title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
}

.comments-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.comments-comment {
    position: relative;
    max-width: 436px;
    padding: 16px;
    margin: 0 auto;
    background-color: #e5e5e5;
    border-radius: 5px;
}

.comments-comment::after {
    position: absolute;
    top: -15px;
    right: 0;
    bottom: 0;
    left: 46%;
    width: 0;
    height: 0;
    content: '';
    border-right: 15px solid transparent;
    border-bottom: 30px solid #e5e5e5;
    border-left: 15px solid transparent;
}

.comments-text {
    position: relative;
    z-index: 1;
    max-width: 436px;
    margin: 0 auto;
    font-size: 14px;
    font-style: italic;
    line-height: 1.28;
    color: #333;
    text-align: left;
}

.comments-author {
    font-size: 14px;
    line-height: 1.28;
    color: #989898;
    text-align: left;
}

.tariffs {
    padding: 15px;
    background-color: #fff;
}

.tariffs-block {
    max-width: 450px;
    margin: 0 auto 30px;
    background-color: #445162;
}

.tariffs-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
}

.tariffs-subtitle {
    padding: 15px;
    font-size: 24px;
    line-height: 1.25;
    color: #fff;
    text-align: center;
}

.tariffs-paragraph {
    max-width: 450px;
    height: 71px;
    font-size: 40px;
    line-height: 1.75;
    color: #445162;
    text-align: center;
    background-color: #fff;
    border: 2px solid #445162;
}

.tariffs-list {
    margin: 15px 15px 0;
    text-align: left;
}

.tariffs .list-item {
    width: 58%;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}

.purchase-btn {
    width: 70%;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #445161;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.purchase-btn:hover {
    background-color: #00FFFF;
}

.purchase-btn:active {
    box-shadow: 6px 6px 19px 0 rgba(50, 50, 50, 0.75);
}

.contact-us {
    padding: 15px;
    background-color: #445162;
}

.contact-us-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
}

.contact-us .information {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #445162;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.contact-us .information-text {
    height: 170px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.form-submit {
    width: 140px;
    min-height: 40px;
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #445162;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.form-submit:hover {
    background-color: #00FFFF;
}

.contact-us .inner {
    margin-top: 15px;
}

.contact-us-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
}

.contact-us-link {
    padding: 5px;
}

.contact-us-icon {
    width: 30px;
}

.contact-us-list {
    max-width: 300px;
    margin: 30px 0 auto;
    margin: auto;
}

.list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.list-item-link:hover {
    border-bottom-color: #00FFFF;
}

.list-item-link:active {
    color: #333;
}

.social::before {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.skype::before {
    background-image: url(../img/skype.svg);
}

.icq::before {
    background-image: url(../img/icq.svg);
}

.mail::before {
    background-image: url(../img/mail.svg);
}

.phone::before {
    background-image: url(../img/phone-call.svg);
    transform: rotate(260deg);
}

.copyright {
    font-size: 12px;
    color: #445162;
    letter-spacing: 0.3px;
}

.contact-us-icon:hover {
    transform: translateY(3px);
}

/* @media  запросы. От 768px и выше. (Планшет) */
@media (min-width: 768px) {
    .tablet-padding {
        padding: 50px;
    }

    .comments-comment {
        width: 38%;
        margin: 0;
    }

    .comments-comment::after {
        position: absolute;
        top: -15px;
        left: 95%;
        border-right: 35px solid transparent;
        border-bottom: 160px solid #e5e5e5;
        border-left: 10px solid transparent;
        transform: rotate(60deg);
    }

    .tariffs {
        padding: 50px;
    }

    .tariffs-paragraph {
        max-width: 650px;
        margin: 0 auto;
    }

    .tariffs-block {
        max-width: 650px;
    }

    .form {
        width: 42%;
    }

    .contact-us-social {
        margin: 0;
    }

    .contact-us .inner {
        padding-left: 50px;
        margin: 0;
    }

    .contact-us-container {
        display: flex;
        justify-content: center;
    }

    .contact-us-list {
        margin: 0;
    }

    .list-item-link {
        justify-content: flex-start;
    }

    .contact-us-icon {
        width: 40px;
    }
}

/* @media  запросы. От 1200px и выше. (Декстоп) */
@media (min-width: 1200px) {
    .benefits .wrapper {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .list-wrapper {
        padding: 0 355px 0 0;
    }

    .benefits .list-item:last-child {
        margin-bottom: 0;
    }

    .benefits-photo {
        width: 469px;
        height: 260px;
    }

    .preview .wrapper {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .preview-inner {
        width: 50%;
    }

    .preview .inner {
        position: relative;
        padding-bottom: 23.25%;
        box-shadow: none;
    }

    .preview-video {
        position: relative;
        width: 430px;
        height: 245px;
        box-shadow: 56px 33px 14px -1px rgba(0, 0, 0, 0.14);
    }

    .preview-text:last-child {
        margin-bottom: 0;
    }

    .dignity-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
    }

    .dignity .list-item {
        display: flex;
        width: 45%;
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
    }

    .dignity .list-item::before {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        padding: 1px;
        margin: 4px 10px 0 0;
        font-size: 38px;
        line-height: 0.9;
        color: #fff;
        text-align: center;
        content: '+';
        background-color: #445161;
    }

    .dignity .list-item:nth-last-child(-n+2) {
        margin: 0;
    }

    .screenshots-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .screenshots-figure {
        display: flex;
        width: 50%;
    }

    .screenshots-photo {
        width: 200px;
        height: 150px;
        margin: 0;
    }

    .screenshots-text {
        padding: 0 70px 30px 15px;
        margin: 0;
    }

    .screenshots-photo-title {
        text-align: left;
    }

    .screenshots-photo-desc {
        text-align: left;
    }

    .comments-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .comments-item {
        display: flex;
        width: 50%;
        margin: 0 0 25px;
    }

    .comments-item:nth-last-child(-n+2) {
        margin: 0;
    }

    .comments-photo {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .comments-comment {
        width: 68%;
        margin: 0 28px 10px;
    }

    .comments-comment::after {
        position: absolute;
        top: 25%;
        left: -7%;
        border-top: 15px solid transparent;
        border-right: 30px solid #e5e5e5;
        border-bottom: 15px solid transparent;
        transform: rotate(0deg);
    }

    .tariffs-items {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 88%;
        margin: 0 auto;
    }

    .tariffs-block {
        width: 25%;
    }

    .tariffs .list-item {
        width: 100%;
    }

    .purchase-btn {
        width: 85%;
    }
}